@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
	font-family:'Asap Condensed', sans-serif;
	font-weight:400;
}

h1{
	font-size:75px;
	margin-left:50px;
}

h2{
	font-size:35px;
	margin-left:50px;
}

a{
	text-decoration:none;
	color:black;
	margin-left:50px;
}

p{
	margin-left:50px;
	font-size:22px;
}

footer{
	background-size:cover;
	background-color:#3d3d3d;
	position:relative;
	color:white;
	left:0;
	bottom:0;
	color:white;
	padding:10px;
}

.navbar{
	justify-content:center;
	gap:1em;
}

.project-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	max-width:100%;
}

.project-slide{
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	box-sizing:border-box;
	width:100%;
	height:350px;
	border:3px solid black;
	position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:20px;
}

.project-slide h2{
	position:top-left;
	color:white;
	text-shadow:
		-2px -2px 0 #000,
		2px -2px 0 #000,
		-2px 2px 0 #000,
		2px 2px 0 #000;
}

.project-button {
    background-color:#b0b0b0;
    color: black;
	font-size:25px;
    padding:20px;
    text-decoration:none;
    align-self:start;
    border:2px solid black;
	border-radius:12px;
}

.project-button:hover{
	background-color:#fff;
}

.footer-icons{
	display:flex;
	justify-content:center;
	gap:45px;
	margin-bottom:0;
	color:white;
}

.footer-icons img{
	width:40px;
	height:auto;
	transition:transform 0.3s ease;
}

.footer-icons img:hover{
	transform: scale(1.3);
}

.footer-icons a{
	display:inline-block;
}

.download-button{
	color:black;
	background-color:#c0c0c0;
	padding:20px;
	text-decoration:none;
	align-self:start;
	border:2px solid black;
	border-radius:24px;
}

.download-button:hover{
	background-color:#fff;
}

.button{
	color:black;
	background-color:#c0c0c0;
	padding:20px;
	text-decoration:none;
	align-self:start;
	border:2px solid black;
	border-radius:24px;
}

.button:hover{
	background-color:#fff;
}

.img-column{
	float:left;
	width:45%;
	padding:40px;
}

.img-row::after{
	content:"";
	clear:both;
	display:table;
}